.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  background-color: navy;
  text-align: center;
}

.navbar-header {
  cursor: pointer;
  margin-right: auto;
  color: ghostwhite;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2em;
  text-decoration: underline;
}

.navbar-header:hover {
  color: gold;
}

a {
  position: relative;
}

.pic-title {
  color: ghostwhite;
  position: relative;
  width: 50%;
  margin: auto;
  font-size: 2em;
}
